.footer-area-bg {
    background-color: #000213;
}
.footer-area-bg-two {
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 85%;
        background-color: #000213;
    }
}
.footer-contact {
    background-color: #03082d;
    padding: 20px 20px 20px 100px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 30px;
    .icon {
        position: absolute;
        top: 20px;
        left: 20px;
        i {
            width: 55px;
            height: 55px;
            line-height: 65px;
            text-align: center;
            background-color: var(--orangeColor);
            color: var(--whiteColor);
            font-size: 26px;
            border-radius: 5px;
            transition: var(--transition);
            display: inline-block;
        }
    }
    .content {
        h3 {
            font-size: 18px;
            margin-bottom: 5px;
            a {
                color: var(--whiteColor);
                margin-bottom: 0;
                transition: var(--transition);
            }
        }
        p {
            color: var(--whiteColor);
            margin: 0;
        }
    }
    .right {
        font-size: 50px;
        color: #181c3c;
        position: absolute;
        z-index: -1;
        top: 17px;
        right: 20px;
    }
    &:hover {
        .icon {
            i {
                background-color: var(--greenColor);
                border-radius: 50px;
            }
        }
        .content {
            h3 {
                a {
                    color: var(--orangeColor);
                }
            }
        }
    }
}

.footer-widget {
    margin-bottom: 30px;
    .footer-logo {
        margin-bottom: 20px;
        position: relative;
        top: -5px;
    }
    h3 {
        margin-top: 0;
        font-size: 22px;
        margin-bottom: 30px;
        color: var(--whiteColor);
        line-height: 1.2;
        &.title {
            margin-bottom: 20px;
            font-size: 20px;
        }
    }
    p {
        margin-bottom: 25px;
        color: var(--whiteColor);
    }
    .social-link {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            a {
                i {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    background-color: #e7e5e3;
                    border-radius: 0;
                    text-align: center;
                    color: var(--orangeColor);
                    font-size: 24px;
                    transition: var(--transition);
                }
                &:hover {
                    i {
                        background-color: var(--orangeColor);
                        color: var(--whiteColor);
                        border-radius: 50px;
                    }
                }
            }
        }
    }
    .footer-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: block;
            margin-bottom:  15px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                color: var(--whiteColor);
                &:hover {
                    color: var(--orangeColor);
                    letter-spacing: 0.25px; 
                }
            }
            &:hover {
                a {
                    color: var(--orangeColor);
                    letter-spacing: 0.25px; 
                }
            }
        }
    }
}

.newsletter-area {
    .newsletter-form {
        position: relative;
        .form-control {
            background: #0e1125;
            border-radius: 5px;
            height: 60px;
            line-height: 60px;
            margin: 0;
            border-radius: 5px;
            border: none;
            padding: 0 25px;
            max-width: 100%;
            color: var(--whiteColor);
            &:focus {
                outline: none;
                box-shadow: none;
                border: none;
            }
        }
        .subscribe-btn {
            position: absolute;
            top: 0;
            right: 0;
            background-color: var(--orangeColor);
            color: var(--whiteColor);
            padding: 11px 16px;
            font-size: 24px;
            border: 0;
            transition: var(--transition);
            border-radius:  0 5px 5px 0;
            text-align: center;
            &:hover {
                background-color: var(--greenColor);
            }                  
        }
        .validation-danger {
            font-size: 18px;
            margin-top: 5px;
            color: red;
        }
    }
}

.footer-top-two {
    background-color: #f5f4f4;
    padding: 50px;
    border-radius: 30px;
}
.footer-contact-two {
    background-color: var(--whiteColor);
    padding: 20px 20px 20px 90px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px;
    .icon {
        position: absolute;
        top: 20px;
        left: 20px;
        i {
            width: 50px;
            height: 50px;
            line-height: 55px;
            text-align: center;
            background-color: var(--orangeColor);
            color: var(--whiteColor);
            font-size: 24px;
            border-radius: 5px;
            transition: var(--transition);
            display: inline-block;
        }
    }
    .content {
        h3 {
            font-size: 18px;
            margin-bottom: 5px;
            a {
                color: var(--titleColor);
                margin-bottom: 0;
                transition: var(--transition);
            }
        }
        p {
            color: var(--bodyColor);
            margin: 0;
        }
    }
    .right {
        font-size: 50px;
        color: #f0f0f0;
        position: absolute;
        z-index: -1;
        top: 17px;
        right: 20px;
    }
    &:hover {
        .icon {
            i {
                background-color: var(--greenColor);
                border-radius: 50px;
            }
        }
        .content {
            h3 {
                a {
                    color: var(--orangeColor);
                }
            }
        }
    }
}
.copyright-area {
    border-top: 1px solid #1f1747;
    padding: 15px 0;
}
.copy-right-text {
    p {
        color: var(--whiteColor);
        margin-bottom: 0;
        a {
            color: var(--orangeColor);
            &:hover {
                color: var(--greenColor);
            }
        }
    }
}

/*=================================
Responsive Css 
====================================*/
@media only screen and (max-width: 767px) {
    .footer-top-two {
        padding: 30px 10px 10px;
        border-radius: 10px;
    }
    .footer-contact-two {
        margin-bottom: 20px;
    }

    .footer-contact {
        background-color: #03082d;
        padding: 10px 10px 10px 70px;
        .icon {
            position: absolute;
            top: 10px;
            left: 10px;
            i {
                width: 45px;
                height: 45px;
                line-height: 55px;
                font-size: 20px;
            }
        }
        .content {
            h3 {
                font-size: 15px;
            }
            p {
                font-size: 13px;
            }
        }
        .right {
            font-size: 30px;
            top: 14px;
            right: 20px;
        }
    }
    
    .footer-contact-two {
        padding: 10px 10px 10px 64px;
        .icon {
            position: absolute;
            top: 10px;
            left: 10px;
            i {
                width: 45px;
                height: 45px;
                line-height: 55px;
                font-size: 20px;
            }
        }
        .content {
            h3 {
                font-size: 15px;
            }
            p {
                font-size: 13px;
            }
        }
        .right {
            font-size: 30px;
            top: 14px;
            right: 20px;
        }
    }
    .footer-widget  {
        h3 {
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 15px;
        }
        
        .footer-list {
            li {
                margin-bottom:  10px;
            }
        }

        .social-link {
            li {
                a {
                    i {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .newsletter-area {
        .newsletter-form {
            position: relative;
            .form-control {
                height: 50px;
                line-height: 50px;
            }
            .subscribe-btn {
                padding: 9px 16px;
                font-size: 20px;
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-top-two {
        padding: 30px 10px 10px;
        border-radius: 10px;
    }
    .footer-contact-two {
        margin-bottom: 20px;
    }

    .footer-contact {
        background-color: #03082d;
        padding: 10px 10px 10px 70px;
        .icon {
            position: absolute;
            top: 10px;
            left: 10px;
            i {
                width: 45px;
                height: 45px;
                line-height: 55px;
                font-size: 20px;
            }
        }
        .content {
            h3 {
                font-size: 15px;
            }
            p {
                font-size: 13px;
            }
        }
        .right {
            font-size: 30px;
            top: 14px;
            right: 20px;
        }
    }
    
    .footer-contact-two {
        padding: 10px 10px 10px 64px;
        .icon {
            position: absolute;
            top: 10px;
            left: 10px;
            i {
                width: 45px;
                height: 45px;
                line-height: 55px;
                font-size: 20px;
            }
        }
        .content {
            h3 {
                font-size: 15px;
            }
            p {
                font-size: 13px;
            }
        }
        .right {
            font-size: 30px;
            top: 14px;
            right: 20px;
        }
    }
    .footer-widget  {
        h3 {
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 15px;
        }
        
        .footer-list {
            li {
                margin-bottom:  10px;
            }
        }

        .social-link {
            li {
                a {
                    i {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .newsletter-area {
        .newsletter-form {
            position: relative;
            .form-control {
                height: 50px;
                line-height: 50px;
            }
            .subscribe-btn {
                padding: 9px 16px;
                font-size: 20px;
            }
        }
    }
  
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-contact {
        background-color: #03082d;
        padding: 10px 10px 10px 70px;
        .icon {
            position: absolute;
            top: 10px;
            left: 10px;
            i {
                width: 45px;
                height: 45px;
                line-height: 55px;
                font-size: 20px;
            }
        }
        .content {
            h3 {
                font-size: 15px;
            }
            p {
                font-size: 13px;
            }
        }
        .right {
            font-size: 30px;
            top: 14px;
            right: 20px;
        }
    }
    .footer-top-two {
        padding: 30px 10px;
        border-radius: 10px;
    }
    .footer-contact-two {
        padding: 10px 10px 10px 64px;
        .icon {
            position: absolute;
            top: 10px;
            left: 10px;
            i {
                width: 45px;
                height: 45px;
                line-height: 55px;
                font-size: 20px;
            }
        }
        .content {
            h3 {
                font-size: 15px;
            }
            p {
                font-size: 13px;
            }
        }
        .right {
            font-size: 30px;
            top: 14px;
            right: 20px;
        }
    }
    

}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
    .footer-contact {
        padding: 15px 15px 18px 85px;
        .icon {
            position: absolute;
            top: 15px;
            left: 15px;
        }
        .content {
            margin-top: 5px;
            h3 {
                font-size: 17px;
            }
            p {
                font-size: 14px;
            }
        }
    }

    .footer-top-two {
        padding: 30px 10px;
        border-radius: 10px;
    }
    
    .footer-contact-two {
        padding: 15px 15px 18px 85px;
        .icon {
            position: absolute;
            top: 15px;
            left: 15px;
        }
        .content {
            margin-top: 5px;
            h3 {
                font-size: 17px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
    
}

@media only screen and (min-width: 1300px) and (max-width: 1439px) {
    
}



@media only screen and (min-width: 1440px) and (max-width: 1799px) {
    
}

@media only screen and (min-width : 1300px)  {
   
}

@media only screen and (min-width : 1800px)  {
    
}