body {
  text-align: right;
}

.form-control {
  text-align: right;
}

.pl-20 {
  padding-left: unset;
  padding-right: 20px;
}

.pr-20 {
  padding-left: 20px;
  padding-right: unset;
}

.ml-20 {
  margin-left: unset;
  margin-right: 20px;
}

/*=================================
Top Header Area 
====================================*/
.header-left {
  float: right;
}

.header-left ul {
  padding-right: 0;
  padding-left: unset;
}

.header-left ul li {
  padding-right: 25px;
  padding-left: unset;
  margin-left: 25px;
  margin-right: unset;
}

.header-left ul li:last-child {
  margin-left: 0;
}

.header-left ul li i {
  right: 0;
  left: auto;
}

.header-right {
  float: left;
}

.header-right ul li {
  margin-left: 10px;
  margin-right: unset;
}

.header-right ul li:last-child {
  margin-left: 0;
}

.header-logo {
  float: right;
}

.head-middle .head-list-item li {
  padding-right: 60px;
  padding-left: unset;
  margin-left: 40px;
  margin-right: unset;
}

.head-middle .head-list-item li:last-child {
  margin-left: 0;
}

.head-middle .head-list-item li .icon {
  right: 0;
  left: auto;
}

.header-btn {
  float: left;
}

/*=================================
Top Header Area End
====================================*/
/*=================================
Navbar Area 
====================================*/
.desktop-nav .navbar .navbar-nav .nav-item:last-child a {
  margin-right: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item:first-child a {
  margin-left: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  right: 0;
  left: auto;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a i {
  float: left;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  right: 245px;
  left: auto;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  right: 245px;
  left: auto;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  right: -250px;
  left: auto;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  right: -250px;
  left: auto;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  right: -250px;
  left: auto;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  right: -250px;
  left: auto;
}

.mobile-nav-area {
  left: 50px;
  right: auto;
}

.desktop-nav-one .navbar .navbar-nav {
  margin-left: auto;
  margin-right: 0;
}

.nav-sidebar .navbar-language .dropdown-toggle:after {
  margin-left: unset;
  margin-right: 5px;
}

.nav-sidebar .navbar-language .dropdown-toggle i {
  margin-left: 8px;
  margin-right: unset;
}

.nav-sidebar .navbar-language .dropdown-menu a img {
  margin-left: 10px;
  margin-right: unset;
}

.nav-sidebar .nav-btn {
  margin-right: 20px;
  margin-left: unset;
}

.nav-sidebar .nav-search {
  margin-right: 5px;
  margin-left: unset;
}

.nav-sidebar .nav-search #close-btn {
  left: 20px;
  right: auto;
}

.nav-sidebar .nav-search .centered #search-box .btn {
  left: 0;
  right: auto;
}

.nav-sidebar .modal-icon {
  margin-left: unset;
  margin-right: 20px;
}

/*=================================
Navbar Area End
====================================*/
.sidebar-modal.active .sidebar-modal-inner {
  left: 0;
  right: auto;
}

.sidebar-modal .sidebar-header .close-btn {
  float: left;
}

.sidebar-modal .contact-us .contact-item li {
  padding-right: 60px;
  padding-left: unset;
}

.sidebar-modal .contact-us .contact-item li .icon {
  right: 0;
  left: auto;
}

/*=================================
Banner Area 
====================================*/
.banner-area::before {
  right: 0;
  left: auto;
  -webkit-transform: skewY(-175deg);
  transform: skewY(-175deg);
}

.banner-content .banner-btn .two {
  margin-right: 20px;
  margin-left: unset;
}

.banner-img .circle1 {
  left: -135px;
  right: auto;
  -webkit-transform: rotate(-100deg);
  transform: rotate(-100deg);
}

.banner-img .circle2 {
  right: -135px;
  left: auto;
  -webkit-transform: rotate(-100deg);
  transform: rotate(-100deg);
}

.banner-img .banner-img-shape img:nth-child(1) {
  left: 0;
  right: auto;
}

.banner-img .banner-img-shape img:nth-child(2) {
  right: 20px;
  left: auto;
}

.banner-img .banner-img-shape img:nth-child(3) {
  right: -80px;
  left: auto;
}

.banner-img .banner-img-shape img:nth-child(4) {
  right: -80px;
  left: auto;
}

.banner-img .banner-img-shape img:nth-child(5) {
  left: 110px;
  right: auto;
}

.banner-img .banner-img-shape img:nth-child(6) {
  left: 5px;
  right: auto;
}

.banner-shape {
  left: auto;
  right: -5px;
}

.banner-area-two::before {
  right: 0;
  left: auto;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 50px;
}

.banner-area-two::after {
  right: 0;
  left: auto;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 50px;
}

.banner-content-two .social-link {
  right: 0;
  left: auto;
}

.banner-content-two .social-link li {
  margin-left: 20px;
  margin-right: unset;
}

.banner-content-two .social-link li:last-child {
  margin-left: 0;
}

.banner-slider .owl-nav .owl-prev {
  left: 0;
  right: auto;
}

.banner-slider .owl-nav .owl-next {
  left: 60px;
  right: auto;
}

.banner-img-three img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 80%;
}

/*=================================
Banner Area End
====================================*/
/*=================================
Inner Banner Area
====================================*/
.inner-banner .inner-title ul li {
  margin-left: 25px;
  margin-right: unset;
}

.inner-banner .inner-title ul li:last-child {
  margin-left: 0;
}

.inner-banner .inner-title ul li::before {
  left: -15px;
  right: auto;
}

/*=================================
Inner Banner Area End
====================================*/
/*=================================
About Area 
====================================*/
.about-img::after {
  right: 0;
  left: auto;
  -webkit-transform: skewY(175deg);
  transform: skewY(175deg);
}

.about-img::before {
  -webkit-transform: skewY(-175deg);
  transform: skewY(-175deg);
  right: 0;
  left: auto;
}

.about-img .line {
  right: -30px;
  left: auto;
}

.about-content .about-list li i {
  float: right;
  margin-left: 10px;
  margin-right: unset;
}

/*=================================
About Area End
====================================*/
.project-item:hover .content h3 {
  text-align-last: right;
}

.project-categories ul li span {
  float: left;
}

.project-article-bottom .project-article-list li i {
  margin-left: 5px;
  margin-right: unset;
}

.team-card .team-img .team-social {
  padding-right: 0;
  padding-left: unset;
}

.team-card .team-img .team-social li {
  margin-left: 10px;
  margin-right: unset;
}

.team-card .team-img .team-social li:last-child {
  margin-left: 0;
}

.faq-accordion .accordion {
  padding-right: 0;
  padding-left: unset;
}

.faq-accordion .accordion .accordion-title {
  padding: 15px 20px 12px 60px;
}

.faq-accordion .accordion .accordion-title i {
  left: 15px;
  right: auto;
}

/*=================================
Services Area
====================================*/
.services-area .service-btn {
  float: left;
}

.services-item .content .top {
  left: 0;
  right: auto;
}

.services-card .top img:nth-child(1) {
  left: 0;
  right: auto;
}

.services-card .top img:nth-child(2) {
  left: 0;
  right: auto;
}

.services-tab-content .services-tab-list li i {
  margin-left: 10px;
  margin-right: unset;
  float: right;
}

.service-article-another .services-content-list ul li i {
  margin-left: 10px;
  margin-right: unset;
  float: right;
}

/*=================================
Services Area End
====================================*/
.pricing-card {
  padding: 45px;
  background-color: var(--whiteColor);
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.pricing-card .top img:nth-child(1) {
  left: 0;
  right: auto;
}

.pricing-card .top img:nth-child(2) {
  left: 0;
  right: auto;
}

/*================================
Choose Area
===================================*/
.choose-card {
  padding: 74px 30px 65px 30px;
}

.choose-card::before {
  -webkit-transform: skewY(-165deg);
  transform: skewY(-165deg);
}

.choose-card::after {
  left: -20px;
  right: auto;
  -webkit-transform: skewY(-165deg);
  transform: skewY(-165deg);
}

.choose-card i {
  left: 20px;
  right: auto;
}

.choose-card .circle {
  left: -15px;
  right: auto;
  border-radius: 150px 150px 0 0;
}

.choose-img-three {
  margin-left: 30px;
  margin-right: unset;
}

.choose-img-three::before {
  left: 0;
  right: auto;
  -webkit-transform: skewY(175deg);
  transform: skewY(175deg);
}

.choose-img-three::after {
  left: 0;
  right: auto;
  -webkit-transform: skewY(-175deg);
  transform: skewY(-175deg);
}

.choose-img-three .line {
  left: -30px;
  right: auto;
}

/*================================
Choose Area End
===================================*/
/*================================
Work Area
===================================*/
.work-area::before {
  left: 0;
  right: auto;
}

.work-area::after {
  left: 0;
  right: auto;
}

.work-content .content {
  padding-right: 55px;
  padding-left: unset;
}

.work-content .content .number {
  right: 0;
  left: auto;
}

.work-img {
  margin-right: unset;
  margin-left: 140px;
}

.work-img .line {
  left: -100px;
  right: auto;
}

.work-img-three::after {
  right: 0;
  left: auto;
  -webkit-transform: skewY(175deg);
  transform: skewY(175deg);
}

.work-img-three::before {
  right: 0;
  left: auto;
  -webkit-transform: skewY(-175deg);
  transform: skewY(-175deg);
}

.work-img-three .line {
  right: -30px;
  left: auto;
}

/*================================
Work Area End
===================================*/
/*================================
Testimonial Area 
===================================*/
.testimonial-area::before {
  right: 0;
  left: auto;
}

.testimonial-area::after {
  right: 0;
  left: auto;
}

.testimonial-slider .owl-nav .owl-prev {
  right: auto;
  left: 0;
}

.testimonial-slider .owl-nav .owl-next {
  right: auto;
  left: 60px;
}

.testimonial-item .content {
  padding-right: 80px;
  padding-left: unset;
}

.testimonial-item .content img {
  right: 0;
  left: auto;
}

.testimonial-item .quote {
  left: 30px;
  right: auto;
}

.testimonial-slider-two .owl-nav {
  margin-top: 0;
}

.testimonial-slider-two .owl-nav .owl-prev {
  right: auto;
  left: 0;
}

.testimonial-slider-two .owl-nav .owl-next {
  right: auto;
  left: 55px;
}

.testimonial-item-img .testimonial-item-box {
  margin-right: 30px;
  margin-left: unset;
}

.testimonial-item-img .testimonial-shape {
  right: 0;
  left: auto;
}

/*================================
Testimonial Area End
===================================*/
/*================================
Blog Area
===================================*/
.blog-card .content {
  padding: 20px 0 10px;
}

.blog-card .content ul li {
  margin-left: 10px;
  margin-right: unset;
}

.blog-card .content ul li:last-child {
  margin-left: 0;
}

.blog-card .content ul li i {
  margin-left: 5px;
  margin-right: unset;
}

.blog-left-content {
  padding: 17px 190px 17px 17px;
}

.blog-left-content .blog-left-img {
  right: 17px;
  left: auto;
}

.blog-left-content .content ul li {
  margin-left: 10px;
  margin-right: unset;
}

.blog-left-content .content ul li:last-child {
  margin-left: 0;
}

.blog-left-content .content ul li i {
  margin-left: 5px;
  margin-right: unset;
}

.blog-card-two a {
  display: block;
}

.blog-card-two .content {
  padding: 30px 20px;
}

.blog-card-two .content ul li {
  margin-left: 10px;
  margin-right: unset;
}

.blog-card-two .content ul li:last-child {
  margin-left: 0;
}

.blog-card-two .content ul li i {
  margin-left: 5px;
  margin-right: unset;
}

.blog-article-content .content ul li {
  margin-left: 10px;
  margin-right: unset;
}

.blog-article-content .content ul li:last-child {
  margin-left: 0;
}

.blog-article-content .content ul li i {
  margin-left: 5px;
  margin-right: unset;
}

.article-content-area .blockquote i {
  left: 30px;
  right: auto;
}

.blog-benefit-content ul li {
  padding-right: 23px;
  padding-left: unset;
}

.blog-benefit-content ul li::before {
  right: 0;
  left: auto;
}

.article-share .article-tag ul li {
  margin-right: unset;
  margin-left: 5px;
}

.article-share .article-social-icon {
  float: left;
}

.article-share .article-social-icon .social-icon li {
  margin-right: unset;
  margin-left: 10px;
}

.article-share .article-social-icon .social-icon li:last-child {
  margin-left: 0;
}

.comments-wrap .comment-form li {
  padding-right: 80px;
  padding-left: unset;
}

.comments-wrap .comment-form li.pl-80 {
  padding-right: 125px;
  padding-left: unset;
}

.comments-wrap .comment-form li.pl-80 img {
  right: 40px;
  left: auto;
}

.comments-wrap .comment-form li img {
  right: 0;
  left: auto;
}

.search-widget .search-form button {
  left: 0;
  right: auto;
}

.side-bar-categories ul li a i {
  float: left;
}

.side-bar-widget .widget-popular-post .item .thumb {
  float: right;
  margin-left: 15px;
  margin-right: unset;
}

/*================================
Blog Area End
===================================*/
/*================================
Contact Area
===================================*/
.contact-area::before {
  left: 0;
  right: auto;
}

.contact-form .form-group.checkbox-option #chb2 {
  right: 0;
  left: auto;
}

.contact-form .form-group.checkbox-option p {
  padding-right: 25px;
  padding-left: unset;
}

.contact-form .agree-label #chb1 {
  right: 0;
  left: auto;
}

.contact-form .agree-label label {
  margin-left: unset;
  margin-right: 25px;
}

.contact-form .agree-label label a.forget {
  left: 0;
  right: auto;
}

.contact-form .with-errors {
  float: right;
}

/*================================
Contact Area End
===================================*/
/*================================
Footer Area
===================================*/
.footer-widget .social-link li {
  margin-left: 10px;
  margin-right: unset;
}

.footer-widget .social-link li:last-child {
  margin-left: 0;
}

.footer-contact {
  padding: 20px 100px 20px 20px;
}

.footer-contact .icon {
  right: 20px;
  left: auto;
}

.footer-contact .right {
  left: 20px;
  right: auto;
}

.footer-contact-two {
  padding: 20px 100px 20px 20px;
}

.footer-contact-two .icon {
  right: 20px;
  left: auto;
}

.footer-contact-two .right {
  left: 20px;
  right: auto;
}

.newsletter-area .newsletter-form .subscribe-btn {
  left: 0;
  right: auto;
  border-radius: 5px 0 0 5px;
}

.go-top {
  left: 3%;
  right: auto;
}

/*================================
Footer Area End
===================================*/
.buy-now-btn {
  left: 20px;
  right: auto;
}

.switch-box {
  left: 120px;
  right: auto;
}

/*=================================
Responsive Css 
====================================*/
@media only screen and (max-width: 767px) {
  .pl-20 {
    padding-left: unset;
    padding-right: 0;
  }
  .pr-20 {
    padding-left: 0;
    padding-right: unset;
  }
  .ml-20 {
    margin-right: 0;
    margin-left: unset;
  }
  .default-btn {
    padding: 8px 20px;
  }
  .ps-2 {
    padding-right: 0 !important;
    padding-left: unset;
  }
  .ps-3 {
    padding-right: 0 !important;
    padding-left: unset;
  }
  .ps-5 {
    padding-right: 0 !important;
    padding-left: unset;
  }
  .header-left {
    float: none;
  }
  .header-left ul li {
    text-align: center;
    margin: 0 5px;
    font-size: 14px;
  }
  .header-right {
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
    text-align: center;
  }
  .head-middle .head-list-item li {
    margin: 7px;
  }
  .header-btn {
    float: none;
  }
  .banner-slider .owl-nav .owl-prev {
    left: 0;
    right: auto;
  }
  .banner-slider .owl-nav .owl-next {
    left: 0;
    right: auto;
  }
  .services-area .service-btn {
    float: none;
    margin-bottom: 0;
  }
  .services-card {
    padding: 30px 10px;
  }
  .services-card h3 {
    font-size: 18px;
  }
  .choose-card {
    padding: 30px 20px;
  }
  .choose-card h3 {
    padding-left: 40px;
    padding-right: unset;
  }
  .choose-img-three {
    margin-left: 0;
    margin-right: unset;
  }
  .work-img {
    margin-right: unset;
    margin-left: 0;
  }
  .testimonial-item-img .testimonial-item-box {
    margin-right: 0;
    margin-left: unset;
  }
  .testimonial-item .content {
    padding-right: 70px;
    padding-left: unset;
  }
  .blog-left-content {
    margin-bottom: 30px;
    padding: 20px;
  }
  .blog-left-content .blog-left-img {
    right: 0;
    left: auto;
  }
  .comments-wrap .comment-form li {
    padding-right: 0;
    padding-left: unset;
  }
  .comments-wrap .comment-form li.pl-80 {
    padding-right: 0;
    padding-left: unset;
  }
  .comments-wrap .comment-form li.pl-80 img {
    right: 0;
    left: auto;
  }
  .article-share .article-social-icon {
    float: none;
  }
  .footer-contact {
    padding: 20px 90px 20px 20px;
  }
  .footer-contact-two {
    padding: 20px 90px 20px 20px;
  }
  .footer-contact {
    padding: 10px 70px 10px 10px;
  }
  .footer-contact .icon {
    right: 10px;
  }
  .footer-contact .right {
    left: 20px;
  }
  .footer-contact-two {
    padding: 10px 64px 10px 10px;
  }
  .footer-contact-two .icon {
    right: 10px;
  }
  .footer-contact-two .right {
    left: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Default CSS */
  .pl-20 {
    padding-left: unset;
    padding-right: 0;
  }
  .pr-20 {
    padding-left: 0;
    padding-right: unset;
  }
  .ml-20 {
    margin-right: 0;
    margin-left: unset;
  }
  .default-btn {
    padding: 8px 20px;
  }
  .ps-2 {
    padding-right: 0 !important;
    padding-left: unset;
  }
  .ps-3 {
    padding-right: 0 !important;
    padding-left: unset;
  }
  .ps-5 {
    padding-right: 0 !important;
    padding-left: unset;
  }
  .head-middle .head-list-item li {
    margin-left: 10px;
    padding-right: 45px;
  }
  .banner-slider .owl-nav .owl-prev {
    left: 0;
    right: auto;
  }
  .banner-slider .owl-nav .owl-next {
    left: 0;
    right: auto;
  }
  .services-area .service-btn {
    float: none;
    margin-bottom: 0;
  }
  .testimonial-item-img .testimonial-item-box {
    margin-right: 0;
    margin-left: unset;
  }
  .choose-card {
    padding: 30px 20px;
  }
  .choose-card h3 {
    padding-left: 40px;
    padding-right: unset;
  }
  .work-img {
    margin-right: unset;
    margin-left: 0;
  }
  .footer-contact {
    padding: 10px 70px 10px 10px;
  }
  .footer-contact .icon {
    right: 10px;
  }
  .footer-contact .right {
    left: 20px;
  }
  .footer-contact-two {
    padding: 10px 64px 10px 10px;
  }
  .footer-contact-two .icon {
    right: 10px;
  }
  .footer-contact-two .right {
    left: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ps-2 {
    padding-right: 0 !important;
    padding-left: unset;
  }
  .ps-3 {
    padding-right: 0 !important;
    padding-left: unset;
  }
  .ps-5 {
    padding-right: 0 !important;
    padding-left: unset;
  }
  .nav-sidebar .navbar-language {
    margin-right: 20px;
    margin-left: unset;
  }
  .head-middle .head-list-item li {
    margin-left: 15px;
    padding-right: 45px;
  }
  .banner-img {
    max-width: 420px;
  }
  .banner-img .circle1 {
    left: -115px;
  }
  .banner-img .circle2 {
    right: -115px;
  }
  .choose-card {
    padding: 30px 15px;
  }
  .choose-card p {
    margin-bottom: 0;
  }
  .choose-card i {
    left: 15px;
  }
  .work-img {
    margin-right: unset;
    margin-left: 50px;
  }
  .work-img .line {
    left: -50px;
  }
  .blog-left-content {
    padding: 10px 125px 10px 10px;
  }
  .blog-left-content .blog-left-img {
    right: 10px;
  }
  .blog-left-content .content ul li {
    margin-left: 5px;
    margin-right: unset;
  }
  .blog-left-content .content ul li:last-child {
    margin-left: 0;
  }
  .blog-left-content .content ul li i {
    margin-left: 3px;
    margin-right: unset;
  }
  .blog-card-two .content {
    padding: 25px 15px;
  }
  .blog-card-two .content ul li {
    margin-left: 12px;
    margin-right: unset;
  }
  .footer-contact {
    padding: 10px 70px 10px 10px;
  }
  .footer-contact .icon {
    left: unset;
    right: 10px;
  }
  .footer-contact .right {
    right: auto;
    left: 20px;
  }
  .footer-contact-two {
    padding: 10px 64px 10px 10px;
  }
  .footer-contact-two .icon {
    left: unset;
    right: 10px;
  }
  .footer-contact-two .right {
    right: auto;
    left: 20px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  .ps-2 {
    padding-right: 0 !important;
    padding-left: unset;
  }
  .ps-3 {
    padding-right: 0 !important;
    padding-left: unset;
  }
  .ps-5 {
    padding-right: 0 !important;
    padding-left: unset;
  }
  .work-img {
    margin-right: unset;
    margin-left: 50px;
  }
  .work-img .line {
    left: -50px;
    right: unset;
  }
  .footer-contact {
    padding: 15px 85px 18px 15px;
  }
  .footer-contact .icon {
    right: 15px;
    left: auto;
  }
  .footer-contact-two {
    padding: 15px 85px 18px 15px;
  }
  .footer-contact-two .icon {
    right: 15px;
    left: auto;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1350px) {
  .about-img {
    margin-right: 30px;
    margin-left: unset;
  }
  .work-img-three {
    margin-right: 30px;
    margin-left: unset;
  }
}

@media only screen and (min-width: 1400px) {
  .banner-content-two .social-link {
    right: -60px;
    left: auto;
  }
}

@media only screen and (min-width: 1800px) {
  .banner-area::before {
    bottom: -90px;
  }
}

@media only screen and (max-width: 991px) {
  .mobile-responsive-nav {
    display: block;
  }
  .mobile-responsive-nav .mobile-responsive-menu {
    position: relative;
  }
  .mobile-responsive-nav
    .mobile-responsive-menu.mean-container
    .mean-nav
    ul
    li
    a {
    float: right;
    text-align: right;
  }
  .mobile-responsive-nav
    .mobile-responsive-menu.mean-container
    .mean-nav
    ul
    li
    a.mean-expand {
    text-align: left;
    left: 0;
    right: auto;
  }
  .mobile-responsive-nav .mean-container a.meanmenu-reveal {
    left: 0 !important;
    right: auto !important;
    padding-top: 10px;
  }
  .mobile-responsive-nav .mean-container a.meanmenu-reveal span {
    height: 4px;
    margin-top: -6px;
    border-radius: 3px;
    position: relative;
    top: 8px;
  }
  .mobile-responsive-nav .mean-container .mean-bar {
    background: transparent;
    position: absolute;
    z-index: 999;
    padding: 0;
  }
  .mobile-nav-area .mobile-icon {
    top: 5px;
  }
}
/*# sourceMappingURL=rtl.css.map */
